<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SitiosWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menus.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/4d99acc268.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="header">
        <img class="logo" src="~/images/logoMaster.jpeg" alt="Logo">

        <div class="links">
            <a href="">Incapacidades Nuevas </a>
            <a href="">Vacaciones Colectivas  </a>
        </div>

        <div class="user" style="position: relative;">
            <div class="borde"><i class="fa-solid fa-user"></i></div>
            <a href="#" onclick="toggleDropdown()">@User.Identity.Name<br />Supervisor</a>
            <div id="dropdown" style="display:none; position: absolute; top: 100%; left: 0; background-color: white; border: 1px solid #ccc; box-shadow: 0 8px 16px rgba(0,0,0,0.2); z-index: 1000;">
                <a style="display: block; padding: 8px; text-decoration: none; color: black;">Acerca de</a>
                <a asp-controller="Home" asp-action="CerrarSesion" style="display: block; padding: 8px; text-decoration: none; color: black;">Cerrar sesión</a>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

 
</body>
</html>
<script>
    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown');
        if (dropdown.style.display === 'none' || dropdown.style.display === '') {
            dropdown.style.display = 'block';
        } else {
            dropdown.style.display = 'none';
        }
    }

    window.onclick = function (event) {
        if (!event.target.closest('.user')) {
            var dropdown = document.getElementById('dropdown');
            if (dropdown.style.display === 'block') {
                dropdown.style.display = 'none';
            }
        }
    }
</script>