<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SitiosWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menus.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/4d99acc268.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="header">
        <img class="logo" src="~/images/logoMaster.jpeg" alt="Logo">

        <div class="links">
            <a href="">Incapacidades Nuevas </a>
            <a href="">Vacaciones Colectivas  </a>
        </div>

        <div class="user">
            <div class="borde"><i class="fa-solid fa-user"></i></div>
            <a href="#">@User.Identity.Name<br />Supervisor</a>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

 
</body>
</html>
