@model SitiosWeb.Model.Colaboradores

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Colaboradores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Identificacion" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNaciento" class="control-label"></label>
                <input asp-for="FechaNaciento" class="form-control" />
                <span asp-validation-for="FechaNaciento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaContratacion" class="control-label"></label>
                <input asp-for="FechaContratacion" class="form-control" />
                <span asp-validation-for="FechaContratacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinContrato" class="control-label"></label>
                <input asp-for="FechaFinContrato" class="form-control" />
                <span asp-validation-for="FechaFinContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPuesto" class="control-label"></label>
                <select asp-for="IdPuesto" class="form-control" asp-items="ViewBag.IdPuesto"></select>
                <span asp-validation-for="IdPuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
