@model SitiosWeb.Model.TipoActividades

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu">
            <a href="/Home/menuCRUD" class="active">Menu</a>
            <a href="/Home/IndexActividades">Actividades</a>
            <a href="/Home/IndexInconsistencias">Inconcistencias</a>
            <a href="/Home/IndexPermisos">Permisos</a>
            <a href="#">Usuarios</a>
            <a href=" ">Departamentos</a>
            <a href="#">Puestos</a>
        </div>

        <div id="contenido">


            <h4>Tipo de Actividad</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NomActividad" class="control-label"></label>
                            <input asp-for="NomActividad" class="form-control" />
                            <span asp-validation-for="NomActividad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }

        </div>

        <div id="pie">
            <a href="../Menu/menuSupervisor.html"> Volver al menu</a>
        </div>
    </div>

</body>
</html>