@model SitiosWeb.Model.TipoActividades

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu">
            <a href="/Home/menuCRUD" class="active">Menu</a>
            <a href="/Home/IndexActividades">Actividades</a>
            <a href="/Home/IndexInconsistencias">Inconcistencias</a>
            <a href="/Home/IndexPermisos">Permisos</a>
            <a href="/Home/IndexRebajos">Rebajos</a>
            <a href="/Home/IndexUsuarios">Usuarios</a>
            <a href="/Home/IndexDepartamentos">Departamentos</a>
            <a href="/Home/IndexPuestos">Puestos</a>
        </div>

        <div id="contenido">


            <h3>Seguro de Borrar esta Actividad?</h3>
            <div>
                <h4>Tipo de Actividad</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NomActividad)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NomActividad)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdTipoActividad" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Volver al listado</a>
                </form>
            </div>

        </div>

        <div id="pie">
            <a href="../Menu/menuSupervisor.html"> Volver al menu</a>
        </div>
    </div>

</body>
</html>
