@model SitiosWeb.Model.TipoActividades

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu">

            <a asp-controller="Home" asp-action="IndexActividades">Actividades</a>
            <a asp-controller="Home" asp-action="IndexInconsistencias">Inconsistencias</a>
            <a asp-controller="Home" asp-action="IndexPermisos">Permisos</a>
            <a asp-controller="Home" asp-action="IndexRebajos">Rebajos</a>
            <a asp-controller="Home" asp-action="IndexUsuarios">Usuarios</a>
            <a asp-controller="Home" asp-action="IndexDepartamentos">Departamentos</a>
            <a asp-controller="Home" asp-action="IndexPuestos">Puestos</a>
            <a asp-action="IndexSupervisor" asp-controller="Home"> Volver al menu</a>

        </div>

        <div id="contenido">


            <h3>Seguro de Borrar esta Actividad?</h3>
            <div>
                <h4>Tipo de Actividad</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NomActividad)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NomActividad)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdTipoActividad" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index"></a>
                </form>
            </div>

        </div>


    </div>

</body>
</html>
