@model SitiosWeb.Model.TipoActividades

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>

<div>
    <h4>TipoActividades</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomActividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomActividad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTipoActividad">Editar</a>
    
</div>
</body>
</html>
