@{
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/calendar.css" />
    <script src="~/js/reposicicionHorario.js"></script>
    <script src="~/js/marcarDias.js"></script>

</head>

<body>
    <div class="contains">
        <div class="head">
            <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-1-sec.png" alt="Form Image" class="image">
            <div class="titles">
                <h1 class="title-page">Horas por </h1>
                <h1 class="title-span">Reponer</h1>
            </div>
        </div>
        <div class="content">

            <div class="form">
                
                <label id="horasRestantes" class="title-horas">Restantes: 6 horas</label>
                <div class="text-block">
                    <p>Horario del colaborador: </p>
                    <label id="horarioColaborador"></label>

                </div>
                <div class="buttons">
                    <button>Solicitar</button>
                </div>
            </div>
            <div class="calendar">
                <div class="calendar-header">
                    <button id="prevMonth">< </button>
                    <h2 id="monthYear"></h2>
                    <button id="nextMonth"> ></button>
                </div>
                <div class="days" id="calendarDays">
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const diaMarcar = [];
</script>
