<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div id="cabecera">
            <img class="logo" src="~/images/logoMaster.jpeg">
            <h1>Variables del Sistema</h1>
            <img class="imagen" src="~/images/image.png">
        </div>

        <div class="vertical-menu">
            <a href="menuCRUD.html" class="active">Menu</a>
            <a href=" ">Actividades</a>
            <a href="#">Inconcistencias</a>
            <a href=" ">Permisos</a>
            <a href="#">Usuarios</a>
            <a href=" ">Departamentos</a>
            <a href="#">Puestos</a>
        </div>

        <div id="contenido">

        </div>

        <div id="pie">
            <a href="../Menu/menuSupervisor.html"> Volver al menu</a>
        </div>
    </div>

</body>
</html>