@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
    <title>Inicio de sesión</title>
</head>
<body>
    <div class="login-box">
        <form action="/Login/Login" method="post">
            
            <div class="logoCuc">
                <img src="@Url.Content("~/images/logoMaster.jpeg")" alt="Logo Master" />
            </div>
            <div class="user-box">
                <input type="text" name="username" required aria-label="Usuario" />
                <label>Usuario</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required aria-label="Contraseña" />
                <label>Contraseña</label>
            </div>
            <label>@TempData["Error"]</label>
            <center>
                <button id="login" type="submit">Ingresar<span></span></button>
            </center>

        </form>
    </div>
</body>


