@model SitiosWeb.Model.Departamentos

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu">
            <div class="vertical-menu">

                <a asp-controller="Home" asp-action="IndexActividades">Actividades</a>
                <a asp-controller="Home" asp-action="IndexInconsistencias">Inconsistencias</a>
                <a asp-controller="Home" asp-action="IndexPermisos">Permisos</a>
                <a asp-controller="Home" asp-action="IndexRebajos">Rebajos</a>
                <a asp-controller="Home" asp-action="IndexUsuarios">Usuarios</a>
                <a asp-controller="Home" asp-action="IndexDepartamentos">Departamentos</a>
                <a asp-controller="Home" asp-action="IndexPuestos">Puestos</a>
                <a asp-action="IndexSupervisor" asp-controller="Home"> Volver al menu</a>

            </div>
        </div>

        <div id="contenido">

            <h4>Departamentos</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NomDepartamento" class="control-label"></label>
                            <input asp-for="NomDepartamento" class="form-control" />
                            <span asp-validation-for="NomDepartamento" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index"></a>
            </div>

            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }
        </div>


    </div>

</body>
</html>