@{
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicadores</title>
    <link rel="stylesheet" type="text/css" href="~/css/indicadores.css" />
    <script src="https://kit.fontawesome.com/4d99acc268.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="indicadores-form">
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
        <div class="indicador">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <h3>50</h3>
            <p>Colaboradores</p>
        </div>
    </div>
    <h1>Filtros</h1>
    <div class="Filtros">
        <div class="Filtro">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <label for="filtro">Filtro 1</label>
            <select name="filtro" id="filtro">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="Filtro">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <label for="filtro">Filtro 2</label>
            <div class="xFiltro">

                <select name="filtro" id="filtro">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <select name="filtro" id="filtro">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <div class="Filtro">
            <i class="fa-sharp fa-solid fa-user-tie"></i>
            <label for="filtro">Filtro 3</label>
            <select name="filtro" id="filtro">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
</body>

