@model IEnumerable<SitiosWeb.Model.SolicitudHorasExtra>
@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Horas Extras</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/table.css" />
</head>

<body>
    <div class="content-table">
        <div class="TablaForm-Container">
            <table class="table table-striped tabla">
                <thead>
                    <tr>
                        <th>
                            <label>Nombre solicitante</label>
                        </th>
                        <th>
                            <label>Horas solicitadas</label>
                        </th>
                        <th>
                            <label>Fecha de solicitud</label>
                        </th>
                        <th>
                            <label>Tipo de actividad</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdSolicitanteNavigation.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Horas)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaSolicitud.ToString("dd/MM/yyyy"))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTipoActividadNavigation.NomActividad)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-1-sec.png" alt="Form Image">
    </div>
</body>
</html>
