@model SitiosWeb.Model.Usuarios

@{
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
    var inconsistencias = Model.IdColaboradorNavigation.Inconsistencias.Where(u => u.IdEmpleado == Model.IdColaborador && u.IdJustificacion != null);
    var reposiciones = new List<int>();
}
@{
    // Función para obtener la fecha de inicio y fin de la quincena actual
    DateOnly GetStartOfCurrentHalfMonth()
    {
        var today = DateOnly.FromDateTime(DateTime.Now.Date);
        return today.Day <= 15 ? new DateOnly(today.Year, today.Month, 1) : new DateOnly(today.Year, today.Month, 16);
    }

    DateOnly GetEndOfCurrentHalfMonth()
    {
        var today = DateOnly.FromDateTime(DateTime.Now.Date);
        return today.Day <= 15 ? new DateOnly(today.Year, today.Month, 15) : new DateOnly(today.Year, today.Month, DateTime.DaysInMonth(today.Year, today.Month));
    }

    var startOfHalfMonth = GetStartOfCurrentHalfMonth();
    var endOfHalfMonth = GetEndOfCurrentHalfMonth();
    var twoDaysBeforeEndOfHalfMonth = endOfHalfMonth.AddDays(-2);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuSup.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Master</title>
</head>
<body>
    <label class="success" id="menusucc"></label>

    <div class="contenedor">
        <div class="menu">

            <a asp-controller="Home" asp-action="MarcaNormalColab">
                <i class="fa-regular fa-hand-point-up" style="width: 20px; height: 20px;"></i><br>
                Control de Marcas<br><small>Registra diariamente tus jornadas en la empresa</small>
            </a>

            <a href="#vacaciones">
                <i class="fa-regular fa-sun" style="width: 20px; height: 20px;"></i><br>
                Vacaciones<br><small>Solicita o revisa tus solicitudes de vacaciones</small>
            </a>
            <a href="#permisos">
                <i class="fa-regular fa-calendar-check" style="width: 20px; height: 20px;"></i><br>
                Permisos<br><small>Revision de tus solicitudes de permisos</small>
            </a>
            <a asp-controller="InconsistenciasColaborador" asp-action="Index">
                <i class="fa-regular fa-exclamation-circle" style="width: 20px; height: 20px;"></i><br>
                Inconsistencias<br><small>Control de tus inconsistencias y justificacion de ellas</small>
            </a>
           
            <a asp-controller="Expediente" asp-action="CargarCombox">
                <i class="fa-regular fa-exclamation-circle" style="width: 20px; height: 20px;"></i><br>
                Visualizar Horario<br><small>Visualizar horarios por departamento y puesto.</small>
            </a>



            <a asp-controller="Home" asp-action="RegistroActividadesColaborador">
                <i class="fa-regular fa-calendar-check" style="width: 20px; height: 20px;"></i><br>
                Registro de Actividades<br><small>Accede a registrar tus actividades</small>
            </a>



            @if (inconsistencias.Count() > 0)
            {
                @foreach (var item in inconsistencias)
                {
                    if (item.IdJustificacionNavigation.ReponeTiempo.HasValue && item.IdJustificacionNavigation.ReponeTiempo.Value &&
                    item.FechaInconsistencia <= DateOnly.FromDateTime(DateTime.Now.Date) &&
                    item.FechaInconsistencia >= startOfHalfMonth &&
                    item.FechaInconsistencia <= endOfHalfMonth &&
                    item.FechaInconsistencia < twoDaysBeforeEndOfHalfMonth &&
                    item.IdJustificacionNavigation.Reposicion == null)
                    {
                        reposiciones.Add(item.IdJustificacion.Value);
                    }
                }
                if (reposiciones.Any())
                {
                    var reposicionesQuery = string.Join(",", reposiciones);
                    <a asp-controller="Home" asp-action="SolicitarRepo" asp-route-id="@reposicionesQuery">
                        <i class="fa-regular fa-clock" style="width: 20px; height: 20px;"></i>
                        <i class="fa-solid fa-exclamation" style="color: red; width: 15px; height: 15px;"></i><br>
                        Reposiciones<br><small>Gestión de tus horas por reponer</small>
                    </a>
                }

            }

            <a href="#festivos">
                <i class="fa-regular fa-calendar-alt" style="width: 20px; height: 20px;"></i><br>
                Visualizacion de dias festivos<br><small>Dias en los cuales no hay que presentarse al trabajo</small>
            </a>


    </div>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const successLabel = document.querySelector('.success');
        const successMessage = '@TempData["SuccessMessage"]'.trim();
       


        if (successMessage === '') {
            successLabel.style.display = 'none';
            successLabel.classList.remove('fadeIn', 'fadeOut');
        } else {
            successLabel.textContent = successMessage;
            successLabel.style.display = 'block';
            successLabel.classList.remove('fadeOut');
            successLabel.classList.add('fadeIn');

            setTimeout(() => {
                successLabel.classList.remove('fadeIn');
                successLabel.classList.add('fadeOut');
                setTimeout(() => {
                    successLabel.style.display = 'none';
                    successLabel.classList.remove('fadeOut');
                }, 2000); // Duración de la animación fadeOut
            }, 2000); // Retraso antes de comenzar fadeOut
        }
    });
</script>
