@{
    Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuSup.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Master</title>
</head>
<body>
    <div class="menu">
        <a asp-controller="Home" asp-action="MarcaNormal">
            <i class="fa-regular fa-hand-point-up" style="width: 20px; height: 20px;"></i><br>
            Control de Marcas<br><small>Registra diariamente tus jornadas en la empresa</small>
        </a>

        <a href="/Home/Expediente">
            <i class="fa-regular fa-calendar-check" style="width: 20px; height: 20px;"></i><br>
            Expedientes de los colaboradores<br><small>Datos de los colaboradores del sistema</small>
        </a>

        <a href="/Home/ConsultarHorario">
            <i class="fa-regular fa-sun" style="width: 20px; height: 20px;"></i><br>
            Gestion general de las vacaciones<br><small>Control de las vacaciones de los colaboradores de tu departamento</small>
        </a>
        <a href="#Permisos">
            <i class="fa-regular fa-calendar-check" style="width: 20px; height: 20px;"></i><br>
            Control de permisos<br><small>Verificacion y administracion de los permisos solicitados</small>
        </a>
        <a asp-controller="Inconsistencias" asp-action="Index">
            <i class="fa-regular fa-exclamation-circle" style="width: 20px; height: 20px;"></i><br>
            Deteccion de inconsistencias<br><small>Gestion general de las inconsistencias generadas en los ultimos 15 dias</small>
        </a>
        <a asp-controller="Home" asp-action="SelectRepos">
            <i class="fa-regular fa-clock" style="width: 20px; height: 20px;"></i><br>
            Asignacion de reposiciones<br><small>Maneja las horas de reposicion por inconsistencias de los colaboradores</small>
        </a>

        <a asp-controller="HorasExtras" asp-action="SolicitarHorasExtras">
            <i class="fa-regular fa-hand-point-up" style="width: 20px; height: 20px;"></i><br>
            Solicitud de Horas Extras<br><small>Registra solicitudes de horas extras</small>
        </a>
        <a href="#festivos">
            <i class="fa-regular fa-calendar-alt" style="width: 20px; height: 20px;"></i><br>
            Solicitudes de Vacaciones<br><small>Validacion de las solicitudes de vacaciones</small>
        </a>
    </div>
</body>
</html>
