@{
    if(User.IsInRole("JEFATURA"))
    {
        Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
    }
    else if(User.IsInRole("SUPERVISOR"))
    {
        Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
    }
    else if (User.IsInRole("COLABORADOR"))
    {
        Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuSup.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Master</title>
</head>
<body>
    <div class="contenedor">

        <div class="menu">
            @if (User.IsInRole("JEFATURA"))
            {
                <a asp-action="AsignarVacacionesColectivas">
                    <i class="fa-solid fa-users" style="width: 20px; height: 20px;"></i><br>
                    Solicitud de vacaciones colectivas<br><small>Crea una solicitud al supervisor de días de vacaciones que serán remunerados para tu departamento</small>
                </a>
                <a asp-controller="Vacaciones" asp-action="SeleccionarVacaciones">
                    <i class="fa-solid fa-user-clock" style="width: 20px; height: 20px;"></i><br>
                    Manejo de vacaciones personales<br><small>Maneja las solicitudes pendientes de vacaciones personales para los colaboradores de tu departamento</small>
                </a>
                <a asp-controller="Vacaciones" asp-action="SolicitarVacaciones">
                    <i class="fa-solid fa-suitcase-rolling" style="width: 20px; height: 20px;"></i><br>
                    Solicitud de vacaciones<br><small>Solicita los días acumulados de vacaciones de los que dispones</small>
                </a>
                <a asp-controller="Vacaciones" asp-action="ReporteVacaciones">
                    <i class="fa-solid fa-history" style="width: 20px; height: 20px;"></i><br>
                    Históricos de vacaciones<br><small>Visualización de los días de vacaciones tanto colectivas como personales</small>
                </a>
            }
            else if (User.IsInRole("SUPERVISOR"))
            {
                <a asp-controller="Vacaciones" asp-action="SeleccionarVC">
                    <i class="fa-solid fa-users" style="width: 20px; height: 20px;"></i><br>
                    Manejo de vacaciones colectivas<br><small>Maneja las solicitudes pendientes de vacaciones colectivas para los departamentos de la empresa</small>
                </a>
                <a asp-controller="Vacaciones" asp-action="SeleccionarVacaciones">
                    <i class="fa-solid fa-user-clock" style="width: 20px; height: 20px;"></i><br>
                    Manejo de vacaciones personales<br><small>Maneja las solicitudes pendientes de vacaciones personales para los colaboradores de la empresa</small>
                </a>
                <a asp-controller="Vacaciones" asp-action="ReporteVacaciones">
                    <i class="fa-solid fa-history" style="width: 20px; height: 20px;"></i><br>
                    Históricos de vacaciones<br><small>Visualización de los días de vacaciones tanto colectivas como personales</small>
                </a>
            }
            else if (User.IsInRole("COLABORADOR"))
            {
                <a asp-controller="Vacaciones" asp-action="SolicitarVacaciones">
                    <i class="fa-solid fa-suitcase-rolling" style="width: 20px; height: 20px;"></i><br>
                    Solicitud de vacaciones<br><small>Solicita los días acumulados de vacaciones de los que dispones</small>
                </a>
                <a asp-controller="Vacaciones" asp-action="ReporteVacaciones">
                    <i class="fa-solid fa-history" style="width: 20px; height: 20px;"></i><br>
                    Históricos de vacaciones<br><small>Visualización de los días de vacaciones tanto colectivas como personales</small>
                </a>
            }

            

            

            
        </div>
    </div>
</body>
</html>
