@{
    Layout = "_Layout";
}

<h1>Acceso Denegado</h1>
<p>No posee los permisos necesarios para ingresar a esta vista.</p>

<a href="javascript:goBack()">Ir a la página previa</a>
<script>
    function goBack() {
        window.history.back();
    }
</script>
