
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4d99acc268.js" crossorigin="anonymous"></script>
    <title>Business Success</title>
</head>

<body>

    <div class="container">

        <div class="header">
            <img src="https://png.pngtree.com/png-clipart/20210905/original/pngtree-clock-neon-light-effect-clock-icon-png-image_6688455.jpg" alt="Control de Marcas"></img>
            <h1 class="timemaster">Time Master</h1>
            <a asp-controller="Home" asp-action="login">Inicio de sesión</a>
        </div>

        <div class="content">
            <img class="mujer" src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-1-sec.png" />
            <div class="intro">
                <h2>Su Solución Integral para la Gestión de Empleados y Tiempo</h2>
                <p>TimeMaster es una plataforma innovadora diseñada para simplificar y optimizar la gestión de empleados y el control de tiempo en su organización. Nuestro sistema abarca todas las necesidades administrativas, desde el registro de horarios hasta la gestión de vacaciones, ofreciendo una interfaz intuitiva y herramientas poderosas para mejorar la eficiencia y precisión en la administración de recursos humanos.</p>
            </div>
        </div>

        <div class="stats section">
            <div>
                <i class="fa-sharp fa-solid fa-user-tie"></i>
                <h3>50</h3>
                <p>Colaboradores</p>
            </div>
            <div>
                <i class="fa-regular fa-clock"></i>
                <h3>3,129</h3>
                <p>Horas Trabajadas</p>
            </div>
            <div>
                <i class="fa-solid fa-chart-line"></i>
                <h3>7,512</h3>
                <p>Actividades Realizadas</p>
            </div>
            <div>
                <i class="fa-solid fa-mug-saucer"></i>
                <h3>10,500 hrs</h3>
                <p>Tiempo Productivo</p>
            </div>
        </div>

        <div class="testimonials_section">
            <div class="testimonial">
                <img class="ceo" src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/testimonials-1.jpg" alt="Emma Doe">
                <h4>Emma Doe, Company CEO</h4>
                <p>Confío en el sistema para la realización de toda la planilla de mi empresa, nunca me ha dado ningún tipo de problema y cumple su función al 100%.</p>
            </div>
        </div>

        <div class="features section">
            <div class="feature">
                <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/project-1.jpg" alt="Control de Marcas">
                <h4>Control de Marcas</h4>
                <p>Aseguramos precisión y objetividad en el control de los horarios de los colaboradores.</p>
            </div>
            <div class="feature">
                <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/project-2.jpg" alt="Intuitividad">
                <h4>Intuitividad</h4>
                <p>Sistema intuitivo y fácil de usar para todos los usuarios.</p>
            </div>
            <div class="feature">
                <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/project-3.jpg" alt="Asignación de tareas a empleados">
                <h4>Asignación de tareas a empleados</h4>
                <p>Control sobre las actividades que realizan los empleados en su jornada.</p>
            </div>
            <div class="feature">
                <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/project-4.jpg" alt="Manejo completo del tiempo de los colaboradores">
                <h4>Manejo completo del tiempo de los colaboradores</h4>
                <p>Manejo de vacaciones, reposiciones, horas extras, inconsistencias e incapacidades.</p>
            </div>
            <div class="feature">
                <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/project-6.jpg" alt="Días bloqueados por la empresa">
                <h4>Días bloqueados por la empresa</h4>
                <p>Control total sobre los días en los cuales no pueden obtenerse vacaciones o permisos especiales.</p>
            </div>
            <div class="feature">
                <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/project-7.jpg" alt="Altamente personalizable">
                <h4>Altamente personalizable</h4>
                <p>Control sobre muchas opciones del sistema que ayudan a adaptarse a cualquier negocio.</p>
            </div>
        </div>

    </div>
</body>
</html>
