
@{
	Layout = "~/Views/Shared/_LayoutJefatura.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inconsistencias</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu">
            <h4>Filtrar por:</h4>
            <a href="" class="active">Nombre</a>
            <a href="">Identificacion</a>
        </div>

        <div id="contenido">
        </div>

        <div id="pie">
            <a asp-action="IndexSupervisor" asp-controller="Home"> Volver al menu</a>
        </div>
    </div>

</body>
</html>
