
@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu">
            <a href="/Home/menuCRUD" class="active">Menu</a>
            <a href="/Home/IndexActividades">Actividades</a>
            <a href="/Home/IndexInconsistencias">Inconcistencias</a>
            <a href="/Home/IndexPermisos">Permisos</a>
            <a href="#">Usuarios</a>
            <a href=" ">Departamentos</a>
            <a href="#">Puestos</a>
        </div>

        <div id="contenido">




        </div>

        <div id="pie">
            <a href="../Menu/menuSupervisor.html"> Volver al menu</a>
        </div>
    </div>

</body>
</html>
