<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="../../wwwroot/css/login.css" />
    <title>Inicio de sesión</title>
</head>
<body>
     
    <div class="login-box">
        <form method="post">
            <div class="logoCuc">
                <img src="../../wwwroot/images/logoMaster.jpeg"/>
            </div>
            <div class="user-box">
                <input type="text" name="Username" asp-for="Username" required="" />
                <label>Usuario</label>
            </div>
            <div class="user-box">
                <input type="password" name="Password" asp-for="Password" required="" />
                <label>Contraseña</label>
            </div>
            <center>
                <button id="login" type="submit">Ingresar<span></span></button>
            </center>

        </form>
    </div>
</body>

</html>