.calendar {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    padding: 1rem;
    background-color: #5E58F8;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.calendar-header button {
    background-color: #007bff;
    color: black;
    border: none;
    font-size: large;
    background: transparent;    
    padding: 5px 10px;
    cursor: pointer;
}
.calendar .days .day.selected{
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #0056b3;
}

.calendar-header button:hover {
    background-color: #0056b3;
}

#monthYear {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.calendar .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5E58F8;
    margin-bottom: 1rem;
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}
/* Añadir estos estilos al final de tu archivo CSS */
.calendar .days .day.disabled {
    color: #cbd5e0;
    cursor: not-allowed;
}

.calendar .days .day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.calendar .days .day.festivo {
    background-color: #9700ff;
    color: #ffffff;
    border: 1px solid #9700ff;
}

.calendar .days .day.configuracion {
    background-color: #6000ffbe;
    color: #ffffff;
    border: 1px solid #6000ffbe;
}
.calendar .days .day.selected-vc {
    background-color: #9d2bae;
    color: #ffffff;
    border: 1px solid #9d2bae;
}
.calendar .days .gray-text {
    color: #cbd5e0;
}
.contador {
    width: 20px;
    border:none;
    text-align: center;
}
.ContadorButtons {
    border-radius: 50%;
    width: 35px;
    height: 35px; /* Asegura que el botón sea un círculo */
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px solid #5E58F8;
    margin: 0 5px;
    color: #5E58F8;
}
 