/* Estilos para el menú lateral */
.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

    .sidebar-menu li {
        margin-bottom: 10px;
    }

    .sidebar-menu a {
        text-decoration: none;
        color: #333;
    }

        .sidebar-menu a:hover {
            text-decoration: underline;
        }

/* Ajustes para el contenedor principal */
.main-container {
    flex-grow: 1;
    padding: 20px;
}

/* Estilos existentes */
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header h1 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 20px;
}

.image-container {
    margin-bottom: 20px;
}

    .image-container .user-photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

.content-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

.download-button, .exit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .download-button:hover, .exit-button:hover {
        background-color: #0056b3;
    }

.exit-button {
    margin-top: 20px;
}
