@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


#contenedor{
    width: auto;
    margin: 0 auto;
    min-width: 300px;
}

.vertical-menu {
    height: auto;
    width: 125px;
    float: left;
    display: flex;
    flex-direction: column;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
}

    .vertical-menu a {
        background-color: white;
        color: black;
        padding: 12px;
        text-decoration: none;
        font-size: 14px;
    }
  
  .vertical-menu a:hover {
    background-color: #ccc; 
  }

        .vertical-menu a.active {
            background-color: #7154fc;
            color: white;
        }

#contenido {
    float: left;
    font-family: 'Montserrat', sans-serif;
}

    #contenido .row {
        width: auto;
        height: auto;
        align-items: center;
    }

#pie {
    clear: both;
    background-color: #7154fc;
    margin: 20px;
    color: #eee;
}

#pie a{
    text-decoration: none;
    color: white;
}

    #pie a:hover {
        text-decoration: auto;
        color: red;
    }
