@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../../wwwroot/images/waves.svg') no-repeat center bottom;
    background-size: auto 75%;
}

/* Container styles */
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main content styles */
.content {
    position: relative;
    max-width: 60rem;
    padding: 2.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

/* Image styles */
.image {
    position: absolute;
    top: -350px;
    left: 0;
    max-height: 27rem;
    object-fit: contain;
    z-index: -1;
}

/* Form styles */
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-page {
    text-align: left;
    font-size: 3rem;
    font-weight: 300;
    position: absolute;
    color: #42474C;
    font-family: 'Montserrat';
    font-style: italic;
    top: -200px;
    left: 325px;
    width: 400px;
}

.title-span {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #5E58F8;
    font-weight: 800;
    font-size: 45px;
    position: absolute;
    top: -150px;
    left: 325px;
    width: 400px;
}

/* Text block styles */
.text-block {
    margin-bottom: 1.5rem;
    text-align: left;
}

.text-block p {
    font-size: 1.25rem;
    text-align: left;
    color: #4b5563;
    margin-bottom: 0.75rem;
}

.text-block .font-semibold {
    font-weight: bold;
}

/* Calendar styles */
.calendar {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    padding: 1rem;
    background-color: #5E58F8;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.calendar-header button {
    background-color: #007bff;
    color: black;
    border: none;
    font-size: large;
    background: transparent;    
    padding: 5px 10px;
    cursor: pointer;
}

.calendar-header button:hover {
    background-color: #0056b3;
}

#monthYear {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.calendar .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5E58F8;
    margin-bottom: 1rem;
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.calendar .days .day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
    border-radius: 50%;
}

.calendar .days .gray-text {
    color: #cbd5e0;
}

/* Buttons styles */
.buttons {
    margin-top: 8rem;
    display: flex;
    gap: 12rem;
}

.buttons button {
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #5E58F8;
}

.buttons button:hover {
    background-color: #6b46c1;
}
