body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.background-circle {
    position: absolute;
    border-radius: 50%;
    background: #7154FC;
}

.circle1 {
    width: 400px;
    height: 400px;
    top: -100px;
    left: -100px;
}

.circle2 {
    width: 300px;
    height: 300px;
    bottom: -100px;
    right: -100px;
}

.navbar {
    width: 100%;
    background-color: #7154FC;
    padding: 10px;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.container {
    text-align: center;
    z-index: 1;
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 60px; /* Ajusta según la altura de la barra de navegación */
}

.header {
    margin-bottom: 20px;
}

    .header h1 {
        color: #7154FC;
        margin-top: 10px;
    }

.form-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    margin: 10px;
    min-width: 120px;
}

    .form-group input,
    .form-group select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

    .buttons input {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
    }
