@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #ffffff;
    background: url('/images/waves(1).svg') no-repeat center bottom;
    background-size: auto 55%;
    

}
.contains {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    margin-top: 25px;
}
/* Main content styles */
.content {
    
    top: 200px;
    max-width: 60rem;
    padding: 2.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

/* Image styles */
.image {
    left: 0;
    max-height: 27rem;
    object-fit: contain;
    z-index: -1;
}

/* Form styles */
.form {
    max-height: 300px;
    position: relative;
    text-align: center;
    height: auto;
}
.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-page, .title-span {
    margin: 0;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
}
.title-page {
    text-align: left;
    font-size: 3rem;
    font-weight: 300;
    color: #42474C;
    font-style: italic;
}

.title-span {
    text-align: left;
    color: #5E58F8;
    font-weight: 800;
    font-size: 45px;
}
.title-horas{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
 
    color: black;
    font-family: 'Montserrat';
    top: -100px;
    left: 325px;
    width: 400px;
}

/* Text block styles */
.text-block {
    margin-bottom: 1.5rem;
    text-align: left;
}

.text-block p {
    font-size: 1.25rem;
    text-align: left;
    color: #4b5563;
    margin-bottom: 0.75rem;
}
.text-block select {
    background-color: transparent;
    border: 1px solid #5E58F8;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
    color: #4b5563;
}
.text-block .font-semibold {
    font-weight: bold;
}

/* Buttons styles */
.buttons {
    margin-top: 8rem;
    display: flex;
    gap: 12rem;
}

.buttons button {
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #5E58F8;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Adjust spacing between image and titles */
}
#solicitarbtn {
    position: fixed;
    bottom: 34.5%;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #5E58F8;
    background-color: #ffffff; /* Ajusta el color de fondo según sea necesario */
}

#solicitarbtn:hover {
    background-color: #6b46c1;
}
.buttons button:hover {
    background-color: #6b46c1;
}
