@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Modal styles */
/* Modal Background */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.select-container select,
.select-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #5E58F8;
    border-radius: 4px;
    margin-bottom: 10px;
    background:none;
    text-align: center;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #5E58F8;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    align-self: end;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modal-content form {
    display: flex;
    flex-direction: column;
}



.modal-content button {
    padding: 10px;
    background-color: #5E58F8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}
/* Body styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    background: url('/images/waves(1).svg') no-repeat center bottom;
    background-size: auto 55%;
}

.contains {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}

.Tercero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
    .Tercero a {
        border: 1px solid white;
        border-radius: 5px;
        padding: 15px;
        text-decoration:none;
        color:white;

        }
    .Tercero a:hover {
        transform:scale(1.1);
    }
    
    .head {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: row;
        margin-top: 25px;
    }
/* Main content styles */
.content {
    padding: 2.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    min-width: 665px;
}

/* Image styles */
.image {
    left: 0;
    max-height: 27rem;
    object-fit: contain;
    z-index: -1;
}

/* Form styles */
.form {
    max-height: 300px;
    position: relative;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Add this line */
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-page, .title-span {
    margin: 0;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
}

.title-page {
    text-align: left;
    font-size: 3rem;
    font-weight: 300;
    color: #42474C;
    font-style: italic;
}

.title-span {
    text-align: left;
    color: #5E58F8;
    font-weight: 800;
    font-size: 45px;
}

.title-horas {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    color: black;
    font-family: 'Montserrat';
    top: -100px;
    left: 325px;
    width: 400px;
}

/* Text block styles */

.text-block p {
    font-size: 1.2rem;
    text-align: left;
    color: #4b5563;
    margin: 2px auto;
}
.text-block select {
    background:none;
    border: 1px solid #5E58F8;
    border-radius: 5px;
    padding: 5px;
}

.text-block .font-semibold {
    font-weight: bold;
}

.text-block .font-semibold {
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 12rem;
    flex-direction: row;
    vertical-align: bottom;
}

    .buttons button {
        padding: 0.75rem 1.5rem;
        border-radius: 1rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 1px solid #5E58F8;
    }

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Adjust spacing between image and titles */
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.error {
    color: white;
    width: 635px;
    background-color: #ff6666;
    margin: 0px 5px 5px 5px;
    padding: 7px;
    border-radius: 5px;
    display: none;
    opacity: 1;
    transition: opacity 2s;
}

    .error.shake {
        animation: shake 0.5s;
    }

    .error.fadeOut {
        animation: fadeOut 2s;
        opacity: 0;
    }

.success {
    color: white;
    width: 635px;
    background-color: #8ae5aa;
    margin: 0px 5px 5px 5px;
    padding: 7px;
    border-radius: 5px;
    display: none;
    opacity: 1;
    transition: opacity 2s;
}

    .success.fadeIn {
        animation: fadeIn 2s;
        opacity: 1;
    }

    .success.fadeOut {
        animation: fadeOut 2s;
        opacity: 0;
    }

.buttons button:hover {
    background-color: #6b46c1;
}
