.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.main-content {
    width: 100%;
    padding: 20px;
    text-align: center;
}

    .main-content h1 {
        font-size: 2em;
        color: #7154FC;
        margin-bottom: 20px;
    }

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    .search-form label {
        margin-right: 10px;
        font-size: 1em;
        color: #666;
    }

    .search-form select {
        padding: 10px;
        font-size: 1em;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .search-form button {
        padding: 10px 20px;
        font-size: 1em;
        border: none;
        border-radius: 5px;
        background-color: #7154FC;
        color: white;
        cursor: pointer;
    }

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    background-color: #7154FC;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.image {
    position: relative;
    margin-top: 20px;
    text-align: right;
}

    .image img {
        width: 150px;
        height: auto;
        border-radius: 5px;
    }
