@model SitiosWeb.Model.Configuraciones

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/configuraciones.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Crear Nueva Configuracion</title>
</head>
<body>

<hr />
<div class="row">
    <p>
            <h4>Configuraciones</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label for="campoTexto1" class="control-label">Nombre de la configuracion:</label>
                    <input type="text" id="campoTexto1" name="NomConfiguracion" class="form-control" />
            </div>
            <div class="form-group">
                    <label for="campoTexto1" class="control-label">Valor de la configuracion:</label>
                    <input type="text" id="campoTexto1" name="ValorConfig" class="form-control" />
            </div>
            <div class="form-group">
                    <label for="campoTexto1" class="control-label">Numero de la configuracion:</label>
                    <input type="text" id="campoTexto1" name="NumConfig" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </p>
</div>

<div>
    <a class="btn-warning" asp-action="Index">Back to List</a>
</div>

</body>
</html>
