@model IEnumerable<SitiosWeb.Model.Rebajos>

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/justificaciones.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Aplicar Rebajo</title>
</head>
<body>
 <div class="container">
        <h2>Aplicar Rebajo</h2>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-controller="Rebajos" asp-action="aplicarRebajo">

                    <div class="form-group">
                        <label for="idInconsistencia" class="control-label">Colaborador: </label>
                        <input type="text" id="" name="colab" class="form-control" value=""  />
                    </div>

                    <div class="form-group">
                        <label for="fecha" class="control-label">Fecha:</label>
                        <input type="date" id="fecha" name="fecha" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="comboBox3" class="control-label">Tipo Inconsistencia:</label>
                        <select id="comboBox3" name="idtipoinconsistencia" class="form-control">
                            <option value="">Cargando...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="comboBox4" class="control-label">Tipo Rebajo:</label>
                        <select id="comboBox4" name="IdTipoRebajo" class="form-control">
                            <option value="">Cargando...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
 </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetTiposInconsistencias", "Rebajos")',
            method: 'GET',
            success: function (data) {
                console.log(data); // Verificar la respuesta en la consola
                var $comboBox = $('#comboBox3');
                $comboBox.empty();

                if (data && data.length > 0) {
                    $.each(data, function (index, tipo) {
                        $comboBox.append($('<option>', {
                            value: tipo.idTipoInconsistencia, // Asegúrate que los nombres de las propiedades coincidan
                            text: tipo.descripcion
                        }));
                    });
                } else {
                    $comboBox.append($('<option>', {
                        value: '',
                        text: 'No hay tipos de inconsistencia disponibles'
                    }));
                }
            },
            error: function () {
                $('#comboBox3').append($('<option>', {
                    value: '',
                    text: 'Error cargando los tipos de inconsistencia'
                }));
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetTiposRebajos", "SolicitudeRebajo")',
            method: 'GET',
            success: function (data) {
                var $comboBox = $('#comboBox4');
                $comboBox.empty();

                if (data && data.length > 0) {
                    $.each(data, function (index, tipo) {
                        $comboBox.append($('<option>', {
                            value: tipo.idTipoRebajo,
                            text: tipo.descripcion
                        }));
                    });
                } else {
                    $comboBox.append($('<option>', {
                        value: '',
                        text: 'No hay tipos disponibles'
                    }));
                }
            },
            error: function () {
                $('#comboBox3').append($('<option>', {
                    value: '',
                    text: 'Error'
                }));
            }
        });
    });
</script>