@{
    Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de horarios para colaboradores</title>
    <link rel="stylesheet" type="text/css" href="~/css/consultaHJ.css">
</head>
<body>
    <div class="background">
        <div class="header">
            <h1>Consulta de horarios para colaboradores</h1>
        </div>
        <div class="form-photo-container">
            <div class="form-container">
                <form id="consultaHorariosForm" method="POST">
                    <div class="form-group">
                        <label for="departamento">Departamento</label>
                        <select id="departamento" name="departamento">
                            <option value="">Seleccione un departamento</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="puesto">Puesto</label>
                        <select id="puesto" name="puesto">
                            <option value="">Seleccione un puesto</option>
                        </select>
                    </div>
                    <div class="schedule-table">
                        <div class="day">Lunes</div>
                        <div class="day">Martes</div>
                        <div class="day">Miércoles</div>
                        <div class="day">Jueves</div>
                        <div class="day">Viernes</div>
                        <div class="day">Sábado</div>
                        <div class="cell">Texto de celda A1</div>
                        <div class="cell">Texto de celda B1</div>
                        <div class="cell">Texto de celda C1</div>
                        <div class="cell">Texto de celda A2</div>
                        <div class="cell">Texto de celda B2</div>
                        <div class="cell">Texto de celda C2</div>
                        <div class="cell">Texto de celda A3</div>
                        <div class="cell">Texto de celda B3</div>
                        <div class="cell">Texto de celda C3</div>
                        <div class="cell">Texto de celda A4</div>
                        <div class="cell">Texto de celda B4</div>
                        <div class="cell">Texto de celda C4</div>
                        <div class="cell">Texto de celda A5</div>
                        <div class="cell">Texto de celda B5</div>
                        <div class="cell">Texto de celda C5</div>
                    </div>
                    <div class="submit-button">
                        <button type="submit" class="guardar">Guardar</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</body>
</html>

