@{
    Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/modificar.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Puesto</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="path-to-logo.png" alt="Time Master Logo">
                <h1>Time Master</h1>
            </div>
            <div class="user-info">
                <img src="path-to-user-image.png" alt="User Image">
                <span>Usuario</span>
            </div>
        </header>
        <main>
            <div class="main-content">
                <h2>Modificar Puesto</h2>
                <form asp-controller="Expediente" asp-action="EditarPuesto" method="post">
                    <div class="form-group">
                        <label for="identificacion">Identificación del Usuario</label>
                        <input type="text" id="identificacion" name="identificacion" placeholder="Identificación" required />
                    </div>
                    <div class="form-group">
                        <label for="idPuesto">Puesto</label>
                        <select id="idPuesto" name="idPuesto" required>
                            <option value="">Selecciona un Puesto</option>
                            @if (ViewBag.Puestos != null)
                            {
                                foreach (var puesto in ViewBag.Puestos)
                                {
                                    <option value="@puesto.IdPuesto" data-nombre="@puesto.NombrePuesto">
                                        @puesto.NombrePuesto
                                    </option>
                                }
                            }
                            else
                            {
                                <option disabled>No se cargaron los datos</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-salir">Editar</button>
                    </div>
                </form>
            </div>
        </main>
    </div>

    
</body>
</html>
