@model SitiosWeb.Model.TipoUsuario

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu"> 
            <a asp-controller="Home" asp-action="IndexActividades">Actividades</a>
            <a asp-controller="Home" asp-action="IndexInconsistencias">Inconsistencias</a>
            <a asp-controller="Home" asp-action="IndexPermisos">Permisos</a>
            <a asp-controller="Home" asp-action="IndexRebajos">Rebajos</a>
            <a asp-controller="Home" asp-action="IndexUsuarios">Usuarios</a>
            <a asp-controller="Home" asp-action="IndexDepartamentos">Departamentos</a>
            <a asp-controller="Home" asp-action="IndexPuestos">Puestos</a>
            <a asp-action="IndexSupervisor" asp-controller="Home"> Volver al menu</a>

        </div>

        <div id="contenido">

            <h3>Seguro de borrar este usuario?</h3>
            <div>
                <h4>TipoUsuario</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NomTipo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NomTipo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdTipo" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    
                </form>
            </div>
        </div>

    </div>

</body>
</html>
