@model SitiosWeb.Model.TipoUsuario

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu">
            <a href="/Home/menuCRUD" class="active">Menu</a>
            <a href="/Home/IndexActividades">Actividades</a>
            <a href="/Home/IndexInconsistencias">Inconcistencias</a>
            <a href="/Home/IndexPermisos">Permisos</a>
            <a href="/Home/IndexRebajos">Rebajos</a>
            <a href="/Home/IndexUsuarios">Usuarios</a>
            <a href="/Home/IndexDepartamentos">Departamentos</a>
            <a href="/Home/IndexPuestos">Puestos</a>
        </div>

        <div id="contenido">

            <h4>TipoUsuario</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="IdTipo" />
                        <div class="form-group">
                            <label asp-for="NomTipo" class="control-label"></label>
                            <input asp-for="NomTipo" class="form-control" />
                            <span asp-validation-for="NomTipo" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Volver al listado</a>
            </div>

            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }
        </div>

        <div id="pie">
            <a href="../Menu/menuSupervisor.html"> Volver al menu</a>
        </div>
    </div>

</body>
</html>