@{
    Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
}
@model IEnumerable<SitiosWeb.Model.Marcas>

    <!DOCTYPE html>
    <html lang="es">
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/visualizarMarcas.css" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visualización de Marcas</title>
        <style>
            .hidden {
                display: none;
            }

            .Editarable input {
                background-color: #fff;
                border: 1px solid #ccc;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <main class="main-content">
                <h1>Visualización de marcas</h1>
                <form class="search-form">
                    <label for="buscar">Buscar por cédula:</label>
                    <input type="text" id="buscarCedula" name="buscarCedula" placeholder="Ingrese la cédula">
                    <button type="button" id="buscarButton">Buscar</button>
                </form>
                <div class="table-container">
                    <table id="marcasTable">
                        <thead>
                            <tr>
                                <th>ID Marca</th>
                                <th>Identificación</th>
                                <th>Hora de entrada</th>
                                <th>Hora de salida</th>
                                <th>Editarar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                        {
                            var marca = Model.ElementAt(i);
                            <tr id="row-@i">
                                <td><input type="text" name="IdMarca" value="@marca.IdMarca" readonly /></td>
                                <td><input type="text" name="IdEmpleado" value="@marca.IdEmpleado" readonly /></td>
                                <td><input type="text" name="InicioJornada" value="@marca.InicioJornada" readonly /></td>
                                <td><input type="text" name="FinJornada" value="@marca.FinJornada" readonly /></td>
                                <td><button type="button" class="Editar-button">Editarar</button></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <button type="button" id="saveButton">Guardar</button>
                <div class="image">
                    <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-subscribe-737x1024.png" alt="Person Image">
                </div>
            </main>
        </div>
        <script src="~/js/EditararVizualizacion.js"></script>
    </body>
</html>
