<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprobación de Reposiciones</title>
    <link rel="stylesheet" type="text/css" href="~/css/reposicionHorario.css" />
    <script src="../../wwwroot/js/reposicicionHorario.js"></script>
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="form">
                <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-subscribe-737x1024.png"
                    alt="Form Image" class="image">
                <h1 class="title-page">Aprobación de </h1>
                <h1 class="title-span">Reposiciones</h1>
                <div class="text-block">
                    <p>Colaborador que debe las horas: <label class="font-semibold" id="Colaboradorlbl"></label></p>
                    <p>Colaborador que repondrá: <label class="font-semibold" id="ColaboradorTercerolbl"></label>
                    </p>
                    <p>20 de junio: <label class="font-semibold" id="lblhoras"></label></p>
                </div>
                <div class="buttons">
                    <button>Aprobar</button>
                    <button>Denegar</button>
                </div>
            </div>
            <div class="calendar">
                <div class="calendar-header">
                    <button id="prevMonth">< </button>
                    <h2 id="monthYear">Junio 2024</h2>
                    <button id="nextMonth"> ></button>
                </div>
                <div class="days" id="calendarDays">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
