<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprobación de Reposiciones</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/table.css" />

    <script src="~/js/reposicicionHorario.js"></script>

</head>

<body>
    <div class="TablaForm-Container">
        <table class="table table-striped tabla">
            <thead>
                <tr>
                    <th>
                        <label>Nombre colaborador</label>
                    </th>
                    <th>
                        <label>Horas por reponer</label>
                    </th>
                    <th>
                        
                    </th>

                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            Denisse
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            <button>Manejar solicitud</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Fabian
                        </td>
                        <td>
                            6
                        </td>
                        <td>
                            <button>Manejar solicitud</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Monchito
                        </td>
                        <td>
                            4
                        </td>
                        <td>
                            <button>Manejar solicitud</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Julian  
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            <button>Manejar solicitud</button>
                        </td>
                    </tr>
                    
            </tbody>
        </table>
    </div>
    <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-1-sec.png" alt="Form Image">
    

</body>

</html>
